/*
body:hover{
    cursor: progress;
}
*/
  .header{
      text-align: left;
      background-color: #001763;
      padding: 30px;
      word-spacing: 30px;
  }
  .header a{
    -webkit-text-fill-color: #ffffff;
    font-size: 30px;
    text-decoration-line: none;
    }   
    
  
  .dropbtn {
    background-color: #0066fffb;
    color: #ffffff;
    padding: 16px;
    font-size: 16px;
  }

  .dropbtn:hover{
    background-color: #013c94fb;
    cursor: pointer;
    
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #00000033;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .show {display: block;}
