body {
    padding-top: 56px;
}

.navbar{
    background-color: #1D3557 !important;
}

.nav-link:hover{
    color: #A8DADC !important;
}

.current{ 
    color: #A8DADC !important;
}

.body-content{
    width: 50%;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    margin-left: 21%;
    flex: 1;
}

.submit_btn{
    -webkit-text-fill-color: #fff !important;
}

form{ 
    margin: 0 auto; 
    width:50%;
}

    @media screen and (max-width : 600px){
        form{ 
            margin: 0 auto; 
            width:100%;
        }
    }

.my-4{
    text-align: center !important;
}

#choose-photo{
    margin: 0 auto;
}

#preview{
    max-height: 200px;
    margin-left: 5%;
    margin-top: 2%;  
    margin-bottom: 2%;
    display: none;
}
    @media screen and (max-width : 600px){
        #preview{
            max-height: 150px;
            margin-left: 0%;
        }
    }

#ftitle{
    width: 100%;
}
    @media screen and (max-width : 600px){
        #ftitle{
            width: 150%;
        }
    }

#submit-btn{
    margin-left: 40%;
    background-color: #1D3557;
    padding: 12px 28px;
    font-size: 130%;
    border: 2px solid transparent;
    border-radius: 4px;
}

#submit-btn:hover{
    background-color: #fff;
    -webkit-text-fill-color: #1D3557;
    border: 2px solid #A8DADC;
}

footer{
    position:relative;
   width:100%;
   margin-top: 7%;
   height:10%; 
}